.SpecialThanks {
    position: absolute;
    left: 2vmin;
    top: 2vmin;
    right: 2vmin;
    background: rgba(40, 40, 40, 0.7);
    border: 4px white double;
    z-index: 1;
    padding: 2vmin;
    border-radius: 1vmin;
    font-size: 1vmin;
    max-height: calc(100% - 8vmin);
    overflow: auto;
}

.SpecialThanks h1 {
    margin: 0;
    padding: 2vmin 0 2vmin;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    font-size: 500%;
    font-weight: bold;
    line-height: 5vmin;
}

.SpecialThanks p {
    font-size: 370%;
    margin: 0;
    padding: 0.7em 0 1vmin;
    color: rgba(255, 255, 255, 0.8);
}

.SpecialThanks h2 {
    margin: 3vmin 0 0;
    padding: 3vmin 0 1vmin;
    color: rgba(255, 255, 255, 0.8);
    font-size: 450%;
    line-height: 4vmin;
    font-weight: normal;
    border-top: dashed 0.4vmin rgba(255, 255, 255, 0.8);
}

.SpecialThanks ul,
.SpecialThanks li {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 2em;
}

.SpecialThanks li {
    font-size: 400%;
    color: rgba(255, 255, 255, 0.8);
}

.SpecialThanks li::before {
    content: '-';
    color: rgba(255, 200, 200, 0.8);
    margin-right: 0.5em;
}

.SpecialThanks li a {
    text-decoration: none;
    border-bottom: dotted rgba(255, 200, 200, 0.8) 0.3vmin;
    color: rgba(255, 200, 200, 0.8);
}

.SpecialThanks .CloseButton {
    text-align: right;
    padding: 2vmin 0 0;
}

.SpecialThanks .CloseButton button {
    background: transparent;
    appearance: none;
    cursor: pointer;
    border: 2px rgba(255, 255, 255, 0.8) solid;
    padding: 0.4em 1em;
    font-size: 450%;
    border-radius: 1vmin;
    color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
    font-family: 'HuiFontP109';
}