.ShowSpecialThanksButton {
    height: 4rem;
    width: 4rem;
    padding: 0;
    background: transparent;
    appearance: none;
    border: none;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.8);
}