.SioBalloon {
    background: rgba(255, 159, 159, 0.3);
    color: white;
    padding: 0.5em;
    border-radius: 0.5em;
    font-size: 3vh;
    border: rgba(255, 255, 255, 0.3) double;
    transition-property: opacity;
    transition-delay: 0ms;
    transition-duration: 200ms;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SioBalloon.show {
    opacity: 1;
}

.SioBalloon.hide {
    opacity: 0;
}

/* 吹き出しの三角部分 */
.SioBalloon::before {
    content: '';
    position: absolute;
    left: 1vw;
    bottom: calc(-3vh - 2px);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3vh 3vh 0 0;
    border-color: rgba(255, 159, 159, 0.3) transparent transparent transparent;
    transform: skewX(-30deg);
}