.TalkButton {
    width: 4rem;
    height: 4rem;
    padding: 0;
    background: transparent;
    appearance: none;
    border: none;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.7);
    transform: scale(-1, 1);
}

.TalkButton.disabled {
    color: rgba(255, 255, 255, 0.3);
    cursor: default;
}